/* App.css */

/* Reset some default margins/paddings if needed */
body, html {
  margin: 0;
  padding: 0;
}

.hover-underline {
  text-decoration: none !important;
}

.hover-underline:hover {
  text-decoration: underline !important;
}


/* Custom styling for your layout can go here */
.container {
  padding: 0 15px;
}

/* Additional global styles if needed */
